<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Game</title>
    <style>
        body {
            margin: 0; 
            background-color: lightblue;
            font-family: sans-serif;
            text-align: center;
        }
        button {
            columns: red;
            size: medium;
        }
    </style>
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>